In [6]:
#For Loop Basic
your_char = input("Enter char which you would like to guess in the string: ")
s = "Ravi Ranjan"
for i in s:
    if i == your_char:        
        print("Your guess is correct")
        break
    print(i)
else: #it will print only when For Loop exhaust completely
    print("Your guess i not correct")

Enter char which you would like to guess in the string: a
R
Your guess is correct

In [8]:
#extracting data from Tuples

t = (94,5,"Ravi",6,"Ranjan",7,8)

for i in t:
    print(i)

94
5
Ravi
6
Ranjan
7
8

In [11]:
#extracting data from set

s ={94,"ravi",5,95,"baba",95,"ravi"}
for i in s:
    print(i)

baba
5
ravi
94
95

In [20]:
#extracting data from dictionary

d ={"name": "Ravi Ranjan", "Age": 39, "Sex": 'Male', "Designation" : "Software Engineer"}
for i in d:
    print(f"{i},{d[i]}") #it will display values separated by comman
print("******")
for i in d:
    print(i,d[i]) #it will display values without separation by comman

name,Ravi Ranjan
Age,39
Sex,Male
Designation,Software Engineer
******
name Ravi Ranjan
Age 39
Sex Male
Designation Software Engineer

In [46]:
for i in range(1,10):
    a = ' '
    for j in range(0,i):
        a += "ravi"
    print(a)

 ravi
 raviravi
 raviraviravi
 raviraviraviravi
 raviraviraviraviravi
 raviraviraviraviraviravi
 raviraviraviraviraviraviravi
 raviraviraviraviraviraviraviravi
 raviraviraviraviraviraviraviraviravi

In [53]:
for i in range(1,10):
    for j in range(0,i):
        print("ravi", end = " ")
    print("\n")

ravi

ravi ravi

ravi ravi ravi

ravi ravi ravi ravi

ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi ravi

ravi ravi ravi ravi ravi ravi ravi ravi ravi

In [65]:
n = 6
for i in range(0,n):
    for j in range(i,n-1):
        print(" "*len("ravi"), end = " " )
    for j in range(i+1):
        print("ravi", end = "lika")
    for j in range(i):
        print("asth", end = "illi")
    print("\n")

                         ravilika

                    ravilikaravilikaasthilli

               ravilikaravilikaravilikaasthilliasthilli

          ravilikaravilikaravilikaravilikaasthilliasthilliasthilli

     ravilikaravilikaravilikaravilikaravilikaasthilliasthilliasthilliasthilli

ravilikaravilikaravilikaravilikaravilikaravilikaasthilliasthilliasthilliasthilliasthilli

In [67]:
name = input("enter your name: ")
n = 6
for i in range(0,n):
    for j in range(i,n-1):
        print(" "*len(name), end = " " )
    for j in range(i+1):
        print(name, end = " ")
    for j in range(i):
        print(name, end = " ")
    print("\n")

enter your name: Lika
                              Lika

                        Lika  Lika  Lika

                  Lika  Lika  Lika  Lika  Lika

            Lika  Lika  Lika  Lika  Lika  Lika  Lika

      Lika  Lika  Lika  Lika  Lika  Lika  Lika  Lika  Lika

Lika  Lika  Lika  Lika  Lika  Lika  Lika  Lika  Lika  Lika  Lika

In [71]:
#Print index and element of index of tuple
t =(3,23,45,67,2,4,5,6)
for i in range(len(t)):
    print(i,":",t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [74]:
#Print index and element of index of string
s = "ineuron"
for i in range(len(s)):
    print(i,":",s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [83]:
#Print index and element of index of string in reverse order
s = "ineuron"
length = len(s) -1
for i in range(length,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [87]:
#Print numeric element only and append in the list
l2=[]
l1 =["Ravi", "kumar", 456, "ranjan", 1234, 9991, "dubey", 1982]
for i in l1:
    if type(i)== int:
        l2.append(i)
print(l2)

[456, 1234, 9991, 1982]

In [92]:
#print key value pair where key is only numeric value
d ={1:3456, "name" : "ravi", "email": "ravi0@gmail.com", 456: "radha babu", "jampa" : 998,  1982:"Birthyear", "Birthday" : 1501198}

for i in d:
    if type(i)== int:
        print(i,":",d[i])

1 : 3456
456 : radha babu
1982 : Birthyear

In [100]:
#print unique element in the string and its count

s = "aaaabbccd"
for i in set(s):
    print(i,":",s.count(i))

d : 1
b : 2
a : 4
c : 2

In [107]:
#print unique element in the Integer and its count
i = 1234767182181888
st= str(i)
for j in set(st):
    print(j,":",st.count(j))

1 : 4
2 : 2
3 : 1
6 : 1
8 : 5
7 : 2
4 : 1

In [151]:
#print 3 from the below list of element 
#in case of dictionary print where key is 3 or value is 3
t =("ravi","ranjan",[1,2,3,4,5], (6,7,8,3),{"key1": "ravi", "key2": "ranjan", 3: "Kumar", "dubey" : 3, "Radha": 5, 7:3} ) 
for i in t:
    if type(i) == list or type(i) == tuple: 
        for j in i:
            if j == 3:
                print(j)
    if type(i)== dict:
        for k in i:
            if k == 3 or i[k]== 3:
                print(k,":",i[k])

3
3
3 : Kumar
dubey : 3
7 : 3

In [157]:
#Another way of working
#print 3 from the below list of element 
#in case of dictionary print where key is 3 or value is 3
t =("ravi","ranjan",[1,2,3,4,5], (6,7,8,3),{"key1": "ravi", "key2": "ranjan", 3: "Kumar", "dubey" : 3, "Radha": 5, 7:3} ) 
for i in t:
    if type(i) == list or type(i) == tuple: 
        for j in i:
            if j == 3:
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if k == 3 or v== 3:
                print(k,":",v)

3
3

AttributeError: 'dict' object has no attribute 'key'

In [152]:
Variable declaration
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [160]:
# Q1: Print 
# ineuron
# ineuron ineuron
# ineuron inueron ineuron
# ineuron ineuron ineuron ineuron

# Q2 : Print below
#           ineuron
#      ineuron    ineuron
# ineuron   ineuron    ineuron
#      ineuron    ineuron
#           ineuron

    
# l =[[1,2,3,4,5],(2,3,4,5,6),(3,4,5,6),set([4,5,6,7,23,112,211]), {"k1":"ravi","k2":"ranjan","k3":"kumar", 3:6,7:8},
#         ["ineuron","datasciences"]]
    
# q3: extrat all list entity
# q4: extact all dictionary entity
# q5: extract all tuple 
# q6: extract all numerical value 
# q7: summation of all numerical value
# q8: odd values of all numerical data which are part of list
# q9: extract "ineuron"
# q10: find number of occurrence of all data
# q11: find number of keys in dictionary element
# q12: filter out string element
# q13: find alphanumeric in data eg k1, k2
# q14: find multiplication of all individual collection inside dataset
# q15: unwrap all elements from list into a single list

In [180]:
l =[[1,2,3,4,5],(2,3,4,5,6),(3,4,5,6),set([4,5,6,7,23,112,211]), {"k1":"ravi","k2":"ineuron","k3":"kumar", 3:6,7:8},
        ["ineuron","datasicences"]]

In [162]:
# q3: extrat all list entity
for i in l:
    if type(i)== list:
        print(i)

[1, 2, 3, 4, 5]
['ineueron', 'datasicences']

In [163]:
# q4: extact all dictionary entity
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'ravi', 'k2': 'ranjan', 'k3': 'kumar', 3: 6, 7: 8}

In [164]:
# q5: extract all tuple 
for i in l:
    if type(i)== tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6)

In [168]:
# q6: extract all numerical value 
list1 = []
for i in l:
    for j in i:
        if type(j)== int:
            list1.append(j)
print(list1)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 4, 5, 6, 7, 112, 211, 23, 3, 7]

In [169]:
# q7: summation of all numerical value
list1 = []
for i in l:
    for j in i:
        if type(j)== int:
            list1.append(j)

total = 0
for k in list1:
    total = total + k
print(total)

431

In [170]:
# q8: odd values of all numerical data which are part of list
list1 = []
for i in l:
    for j in i:
        if type(j)== int:
            list1.append(j)

for k in list1:
    if k % 2 != 0:
        print(k)

1
3
5
3
5
3
5
5
7
211
23
3
7

In [192]:
# q9: extract "ineuron"
l3=[]
for i in l:
    if type(i)== list:
        for k in i:
            if k == "ineuron":
                l3.append(k)
    if type(i)== dict:
        for j,k in i.items():
            if k == "ineuron":
                l3.append(k)
print(l3)

['ineuron', 'ineuron']

In [205]:
# q10: find number of occurrence of all data
l4 = []
for i in l:
    if type(i)== dict:
        for j,k in i.items():
            l4.append(j)
            l4.append(k)
    else:
        for j in i:
            l4.append(j)

        
for i in (set(l4)):
    print(i,l4.count(i))

1 1
2 2
3 4
4 4
5 4
6 4
7 2
ravi 1
kumar 1
8 1
datasicences 1
k1 1
ineuron 2
112 1
211 1
k3 1
23 1
k2 1

In [218]:
# q11: find number of keys in dictionary element
l5 = []
for i in l:
    if type(i)== dict:
        for j,k in i.items():
            l5.append(j)
print(f"all key values :{l5}")
print(f"number of key:{len(l5)}")

all key values :['k1', 'k2', 'k3', 3, 7]
number of key:5

In [220]:
# q12: filter out string element
l6 = []
for i in l:
    if type(i)== dict:
        for j,k in i.items():
            l6.append(j)
            l6.append(k)
    else:
        for j in i:
            l6.append(j)
        
for i in l6:
    if type(i) == str:
        print(i)

k1
ravi
k2
ineuron
k3
kumar
ineuron
datasicences

In [230]:
# q13: find alphanumeric in data eg k1, k2
l7 = []
for i in l:
    if type(i)== dict:
        for j,k in i.items():
            l7.append(j)
            l7.append(k)
    else:
        for j in i:
            l7.append(j)

intlist= ['0','1','2','3','4','5','6','7','8','9']
for i in l7:
    if type(i)== str:
        for j in str(i):
            if j in intlist:
                print(i)

k1
k2
k3

In [244]:
# q14: find multiplication of all individual collection inside dataset
print(l)
l8 = []
print("result*****")
for i in l:
    total = 1
    if type(i)== dict:
        for j,k in i.items():
            if type(j) == int:
                total *= j
            if type(k) == int:
                total *= k
        print(f"Dictionary total : {total}") 
    else:
        for j in i:
            if type(j)== int:
                total *= j
        print(total)

[[1, 2, 3, 4, 5], (2, 3, 4, 5, 6), (3, 4, 5, 6), {4, 5, 6, 7, 112, 211, 23}, {'k1': 'ravi', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'datasicences']]
result*****
120
720
360
456570240
Dictionary total : 1008
1

In [233]:
# q15: unwrap all elements from list into a single list
l9 = []
for i in l:
    if type(i)== dict:
        for j,k in i.items():
            l9.append(j)
            l9.append(k)
    else:
        for j in i:
            l9.append(j)
        
print(l9)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 4, 5, 6, 7, 112, 211, 23, 'k1', 'ravi', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'datasicences']